{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'dist/app.css' %}">
    </head>
    <body>
        <div class="page-header flex justify-between items-center">
            <h1><a href="/">Django Girls Blog</a></h1>
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="border-2 border-orange-700 bg-white text-orange-700 px-4 py-2 rounded-lg text-2xl  hover:border-white hover:text-white hover:bg-orange-500">Add New</a>
            {% endif %}
        </div>
        <div class="container-fluid px-4 py-3 bg-gray-300 h-screen">
            <div class="flex">
                <div class="w-full">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>